.button {
  padding: 16px 24px;
  border-radius: var(--radius);
  outline: none;
  margin-right: 20px;
  border: var(--border);
  font-weight: var(--font-bold);
  font-size: 16px;
  color: var(--color-white); 
  background-color: var(--primary);
  transition: var(--transition);
  
  &:hover {
      background-color: var(--color-primary-darken);
  }
}